@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0ff; /* Scrollbar color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb::horizontal {
    background-color: #0ff; /* Scrollbar color */
    border-radius: 5px;
}

.container {
    max-width: 90%; /* Increased width */
    background: rgba(20, 20, 20, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5);
    padding: 20px; /* Reduced padding */
    border: 1px solid #0ff;
}
a {
    color: #0ff;
    text-decoration: none !important;
}

a:hover {
    color:#00e5e5; 
    text-decoration: none !important;
    cursor:pointer;  
}

.btn {
    color: #fff;
    font-size: 12px;
    background-color: transparent;
    border: 1px dashed #0ff;
}

.btn:hover {
    color: #0ff;
}

.header {
    text-align: center;
    margin-bottom: 10px; /* Reduced margin */
}
.nav-pills .nav-link {
    border-radius: 10px;
    margin: 0 5px;
    color: #0ff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    transition: background 0.3s, color 0.3s, border 0.3s;
    font-size: 12px;
}
.nav-pills .nav-link.active {
    color: #0d0d0d;
    background: #0ff;
    border-color: #0ff;
}
.nav-pills .nav-link:hover {
    color: #0d0d0d;
    background: rgba(0, 255, 255, 0.2);
    border-color: #0ff;
}
.tab-content {
    background: rgba(20, 20, 20, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5);
    padding: 20px; /* Reduced padding */
    border: 1px dashed #0ff;
}
.tab-pane {
    min-height: 300px;
}
.info-section {
    margin-top: 20px; /* Reduced margin */
    padding: 20px; /* Reduced padding */
    background: rgba(20, 20, 20, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.5);
    border: 1px dashed #0ff;
    color: #0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-section .info-item {
    padding: 10px; /* Reduced padding */
    border: 1px dashed #0ff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
    margin-bottom: 10px; /* Reduced margin */
    width: 100%;
    text-align: left;
    background: rgba(0, 255, 255, 0.1);
    font-size: 12px;
    color: #fff;
}
.info-section .info-item:last-child {
    margin-bottom: 0;
}
.table {
    background: rgba(20, 20, 20, 0.9);
    color: #0ff;
    border-collapse: separate;
    border-spacing: 0;
}

.table th, .table td {
    border: 1px solid #0ff; /* Set border color */
    padding: 10px; /* Adjust padding if needed */
}

.table thead {
    background: rgba(0, 255, 255, 0.2); /* Lighter background for header */
}

.table thead th {
    color: #0d0d0d; /* Darker color for header text */
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background: rgba(0, 255, 255, 0.05); /* Slightly different background for even rows */
}

.table tbody tr:nth-child(odd) {
    background: rgba(20, 20, 20, 0.9); /* Darker background for odd rows */
}

.table tbody td {
    color: #0ff; /* Set text color for table body */
}
.modal-content {
    background: #0d0d0d;
    color: #fff;
    border: 1px solid #0ff;
    border-radius: 10px;
}
.modal-header, .modal-footer {
    border-bottom: none;
    border-top: none;
}
.modal-header {
    background: rgba(0, 255, 255, 0.1);
}
.modal-footer {
    background: rgba(255, 255, 255, 0.1);
}
.modal-body {
    background: rgba(0, 0, 0, 0.7);
}
.modal-title {
    color: #0ff;
}
.terminal {
    background-color: black;
    color: #0ff; /* Bright green text color */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    margin: 0 auto;
    height: 600px;
    word-wrap: break-word;
    border: 1px solid #0ff; /* Optional border for better definition */
    border-radius: 5px; /* Optional rounded corners */
    border: 1px dashed #0ff;
}

.terminal-content {
    height: 100%;
    overflow-y: auto;
}

.terminal-form {
    display: flex;
    flex-direction: column;
}

.terminal-content::-webkit-scrollbar {
    width: 8px;
}

.terminal-content::-webkit-scrollbar-thumb {
    background-color: #0ff; /* Scrollbar color */
    border-radius: 5px;
}
.terminal-prompt {
    color: #0ff; /* Prompt text color */
    margin-right: 10px; /* Space between prompt and input field */
    white-space: nowrap; /* Prevents prompt from wrapping */
}

.terminal-input {
    border: none;
    background: transparent;
    color: #c5c5c5; /* Light gray text for input */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    outline: none;
    flex: 1; /* Allows input to take remaining space */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Includes padding in width calculation */
    width: 50%;
}

.terminal-input::placeholder {
    color: #666; /* Placeholder text color */
}
